/* Sobre nós */
.sobre-nos {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sobre-nos p {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.sobre-nos ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.sobre-nos li {
  min-width: 280px;
}


@media (max-width: 800px) {
  .sobre-nos ul {
    gap: 20px;
  }
}